/* This is just an example.  You shouldn't do this. 
#reduceiframe-hello
{
  color: red ! important;
}

#reduceiframe-toolbar-button
{
  list-style-image: url("chrome://reduceiframe/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
} */

menu.allow-script
{
  list-style-image: url("chrome://reduceiframe/skin/utility.png")
}

menu.stop-script
{
  list-style-image: url("chrome://reduceiframe/skin/disallow.png")
}
